<h1 class="text-center"> 
	Captain Fan Submits
</h1>
<% @posts.each do |post|  %>
  <div class="lunchbox span3 text-center">
  	<h1>
  		<%= post.title  %>
  	</h1>
  	<h2>
  		<%= post.description %>
  	</h2>

  	 <% if post.image.present? %>
  		<%= image_tag post.image %>
  	 <% end %>
  </div>
  <% end %>
