.lunchbox{
	box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
	background-color: rgba(36,32,33,0.50);
	padding: 1%;
	color: white;
	margin-bottom: 4px;
}

body {
	background: url('lunch.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, san-serif;
	color: white;
	font-weight: 200;
	font-size: 30px;
	line-height: 50px;
}

label{
	color: white;
	font-size: 24px;
	font-weight: 200;
}

h2{
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, san-serif;
	color: white;
	font-weight: 300;
	font-size: 20px;
	line-height: 50px;
}